<div class="login-form">
    <div class="moria">
        <div class="gate">
            <img src="assets/images/moria.png" alt="skaffa bättre browser">
        </div>
        <div class="quote">
            Tala, vän, och stig in... 
        </div>
    </div>
    <div class="form">
        <mat-card>
            <mat-form-field class="full-width">
                <mat-label>Namn</mat-label>
                <mat-select [(value)]="cat">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let cat of cats" value="{{cat.id}}">{{ cat.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <form (ngSubmit)="login($event)">
                <mat-form-field class="full-width">
                    <input matInput type="password" placeholder="Lösenord" [(ngModel)]="password" name="password">
                </mat-form-field>
            </form>
            <div class="button">
                <button mat-raised-button color="primary" (click)="login($event)">Login</button>
            </div>
            <div class="incorrect" *ngIf="incorrect">
                Nope...
            </div>
        </mat-card>
    </div>
</div>