<div class="home-view">
        <mat-tab-group>
            <mat-tab label="Uppdrag">
                <aw-tasks-view [isAdmin]="isAdmin"></aw-tasks-view>
            </mat-tab>
            <mat-tab label="High score">
                <aw-high-score></aw-high-score>
            </mat-tab>
            <mat-tab label="Schema">
                <aw-timetable [isAdmin]="isAdmin"></aw-timetable>
            </mat-tab>
            <mat-tab label="Klotterväggen"> Klotterväggen </mat-tab>
        </mat-tab-group>
</div>