.tasks-view {
    .header {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        .reload {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
        }
        .empty {
            width: 20px;
        }
    }
}

.task-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}

.completor-form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

::ng-deep .mat-expansion-panel {
    background: #a0c59c !important;
}