<div class="tasks-view">
    <div class="header">
        <div class="empty"></div>
        <h3>POÄNGJAKT!</h3>
        <div class="reload" (click)="getTasks()">
            <mat-icon aria-hidden="true" aria-label="reload">loop</mat-icon>
        </div>
    </div>
    <div class="tasks">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let task of tasks">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="task-title">
                                <div class="title">
                                    <b>{{ task.title }}</b>
                                    <div class="exclusive" *ngIf="!task.moreThanOne">
                                        Exklusiv
                                    </div>
                                </div>
                                <div class="points">
                                    <i>{{ task.points }} Poäng</i>
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="description">
                            <i>{{ task.description }}</i>
                        </div>

                        <div class="completors">
                            <b>Gjort av:</b>
                            <div class="completor" *ngFor="let completor of task.completors">
                                {{ completor }}
                            </div>
                        </div>

                        <div class="completor-form" *ngIf="isAdmin">
                            <mat-form-field>
                                <mat-label>Ny genomförare</mat-label>
                                <mat-select [(value)]="completor">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let cat of cats" value="{{cat.id}}">{{ cat.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-stroked-button (click)="sendCompletor(task.id)" color="primary">Skicka</button>
                        </div>
                </mat-expansion-panel>
            </mat-accordion>
    </div>
    <div class="admin-view" *ngIf="isAdmin">
        <h3>Nytt uppdrag</h3>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Titel" formControlName="title" required>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Beskrivning" formControlName="description" required></textarea>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="number" placeholder="Poäng" formControlName="points" required>
            </mat-form-field>
            <mat-checkbox formControlName="exclusive">Exklusiv</mat-checkbox>
            <br>
            <button type="submit" mat-raised-button color="primary" [disabled]="!taskForm.valid">Skicka</button>
        </form>
    </div>
</div>