.app {
    .header {
        width: 100%;
        background-color: rgb(30, 25, 26);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title {
            color: white;
            font-size: 1.6em;
            margin-top: auto;
            margin-bottom: auto;
        }
        .logo {
            img {
                max-height: 75px;
            }
        }
    }
}