.app {
    .header {
        width: 100%;
        background-color: rgb(30, 25, 26);
        display: flex;
        flex-direction: row-reverse;;
        .logo {
            img {
                max-height: 100px;
            }
        }
    }
}